body{
    padding: 0;
    margin: 0;
    background-color: rgb(227, 237, 255);
}

#fondo_azul{
    background-image: url("./assets/img/fondoazul.jpg"); /* ruta a tu imagen */
    background-size: cover;      /* La imagen cubre toda la pantalla */
    background-position: center; /* Centrada */
    background-repeat: no-repeat; /* No repetir */
    background-attachment: fixed; /* La imagen queda fija al hacer scroll */
    backdrop-filter: blur(10px); /* Difuminación */
}

/* Navbar */
nav{
    background-color: cornflowerblue;
    padding: 17px;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: rgb(32, 65, 121);
    letter-spacing: 1.5px;
}

#opcactual{
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

#opcactual:hover{
    border-bottom: 2px solid rgb(32, 65, 121);
}
/* ------ */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3{
    color: rgb(32, 65, 121);
}

/* Formulario */
.titulo_formulario{
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.7);
    padding: 30px 50px;
    width: 77%;
    margin: 40px 0 20px;
    text-align: center;
}

form{
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.7);
    padding: 40px 50px;
    width: 77%;
    margin-bottom: 20px;
}

    /* Campos */
.campo{
    margin-bottom: 50px;
    position: relative;
}

.cosa_campo{
    background-color: white;
    color: rgb(32, 65, 121);
    font-size: 20px;
    left: 15px;
    padding: 0 4px;
    pointer-events: none;
    position: absolute;
    top: 5px;
}

.campo_color{
    margin-bottom: 50px;
    position: relative;
}

.cosa_campo_color{
    background-color: white;
    color: rgb(32, 65, 121);
    font-size: 20px;
    left: 15px;
    padding: 0 4px;
    pointer-events: none;
    position: absolute;
}

.campo_eleccion{
    margin-bottom: 50px;
    text-align: center;
}

.campo_eleccion label{
    font-size: large;
    margin: 10px;
}
    /* ------ */

        /* Input */
.campo input, select{
    border: 2px solid rgb(145, 183, 255);
    border-radius: 7px;
    font-size: 15px;
    padding: 11px;
    transition: border-color 0.3s ease;
    width: calc(100% - 30px);
}

.campo input:focus, select:focus{
    border-color: rgb(32, 65, 121);
    outline: none;
}

.campo textarea{
    border: 2px solid rgb(145, 183, 255);
    border-radius: 7px;
    font-size: 15px;
    padding: 11px;
    transition: border-color 0.3s ease;
    width: calc(100% - 50px);
}

.campo textarea:focus{
    border-color: rgb(32, 65, 121);
    outline: none;
}

.campo_color input{
    border: 2px solid rgb(145, 183, 255);
    border-radius: 7px;
    transition: border-color 0.3s ease;
    width: calc(100% - 5px);
    height: 70px;
    background-color: white;
}

.campo_color input:focus{
    border-color: rgb(32, 65, 121);
    outline: none;
}
        /* ----- */

.aviso{
    display: none;  /* Por defecto ocultar aviso de error */
    color: red;
    font-size: 13px;
}

input:required:invalid:not(:focus):placeholder-shown + .aviso {   /* Mostrar aviso de error cuando esta vacío el campo */
    display: block;
}

#botones{
    text-align: right;
    margin-bottom: 30px;
}

#boton_submit, #boton_reset{
    border: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    margin-right: 20px;
}

#boton_submit:hover{
    background-color: rgb(32, 65, 121);
}

#boton_reset:hover{
    background-color: rgb(121, 32, 32);
}
/* ---------- */

/* Pestañas CSS */
.contenedor{
    max-width: 80%;
    margin: 50px auto;
}

.tabs input{   /* Ocultar */
    display: none;
}

.tabs{  /* base del tab */
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 7px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}

.tab_botones{   /* botones de tab */
    display: flex;
    background-color: rgb(238, 238, 238);
    border-bottom: 1.5px solid rgb(194, 194, 194);
}

.tab_boton{
    border-bottom: 3px solid transparent;
    color: rgb(75, 75, 75);
    cursor: pointer;
    flex: 1;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s linear;
    user-select: none;
}

.tab_boton:hover{
    background-color: rgb(189, 207, 240);
    color: cornflowerblue;
}

    /* Tab actual */
body:has(#tab1:checked) .tab_botones .tab_boton1,
body:has(#tab2:checked) .tab_botones .tab_boton2,
body:has(#tab3:checked) .tab_botones .tab_boton3{
    background: white;
    border-bottom-color: cornflowerblue;
    color: cornflowerblue;
}
    /* ---------- */
    /* contenido de tab escondido */
.tab-content{
    display: none;
    padding: 2.5rem;
    animation: animacion_tab 0.4s ease-in;
}
    /* -------------------------- */

@keyframes animacion_tab{
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

    /* Contenido de tab que se muestra */
body:has(#tab1:checked) .content-1,
body:has(#tab2:checked) .content-2,
body:has(#tab3:checked) .content-3{
    display: block;
}
    /* ------------------------------- */

    /* decoración del contenido tab */
.tab-content h2{
    color: cornflowerblue;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.tab-content p{
    color: rgb(75, 75, 75);
    line-height: 1.7;
}

.tab-content ul{
    color: rgb(75, 75, 75);
    line-height: 2.5;
    margin-left: 2.5rem;
}

.nota{
    background: rgb(227, 237, 255);
    border-left: 5px solid rgb(145, 183, 255);
    border-radius: 9px;
    margin-top: 1rem;
    padding: 1rem;
}
    /* ---------------------------- */
/* ------------ */